@use '../../styles/variables.scss' as *;
@use '../../styles/typography.scss' as *;

.container {
  background-color: $color-bg;
  height: 100vh;
  padding: $space-48;
  padding-top: $space-48 * 4;
  color: $text-white;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    padding-top: $space-48 * 2;
  }
}

.heading {
  @media (max-width: 450px) {
    font-size: 5rem;
  }
}

.centerContent {
  display: flex;
  flex-direction: column;
}


.textGroup {
  margin-top: $space-48;
  gap: $space-32;
  color: $text-white;
}